<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
</head>
<body>
<h1 style="text-align: center">Ficamos felizes com sua escolha, bem-vindo ao melhor! :D</h1>
<form action="/clientes" method="post" style="display: flex; justify-content: center; align-items: center; height: 50vh; flex-direction: column">
    <table >
        <tr>
            <td>Nome:</td>
            <td><input type="text" placeholder="Nome" name="nome"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" placeholder="E-Mail" name="email"></td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td><input type="text" placeholder="E-Mail" name="senha"></td>
        </tr>
    </table>
    <button type="submit" style="margin-top: 10px">Cadastrar</button>
</form>
</body>
</html>